{% extends 'officer/officer_home.html' %}
{% block body %}
    <form method="post" action="/officer_change_password_post">
    <table class="table table-borderless w-50 mx-auto">
    <tr>
        <td><input type="text" name="current" class="form-control" placeholder="Current Password..." required></td>
    </tr>
    <tr>
        <td><input type="text" name="new" class="form-control" placeholder="New Password..." id="new" required></td>
    </tr>
    <tr>
        <td><input type="text" name="confirm" class="form-control" placeholder="Confirm Password..." id="confirm" required></td>
    </tr>
    <tr>
        <td><input type="submit" class="btn btn-success" onclick="return check()" value="Submit"></td>
    </tr>
    </table>
    </form>
    <script>
    function check() {
        const newp = document.getElementById('new');
        const confirmm = document.getElementById('confirm');

        if (newp.value !== confirmm.value){
            alert('Passwords are missmatch');
            return false;
        }
        return true;
    }


    </script>
{% endblock %}